* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    background-color: rgb(14, 46, 66);
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    display: flex;
    flex-direction: column; /* Makes the page a flex container */
    min-height: 100vh; /* Ensures the body takes full height */
}

header {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    top: 0;
    width: 100%;
    transition: background-color 0.3s ease;
    z-index: 3;
}

.logo {
    margin-right: 40px;
}

.logo a {
    font-size: 24px;
    color: #00aced;
    text-decoration: none;
    font-weight: bold;
}

nav {
    flex: 1;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #00aced;
}

/* User profile positioned to the right */
.user-profile {
    color: #fff;
    display: flex;
    align-items: center;
}

.user-profile ul li {
    list-style: none;
    display: flex;
    gap: 20px;
}

.user-profile ul li a {
    color: white;
    text-decoration: none;
}

.user-profile ul li a:hover {
    color: #00aced;
}

/* Main content container to fill the remaining space */
.container {
    max-width: 100%;
    margin-left: 10%;
    padding: 0px;
    text-align: justify;
    flex: 1; /* Ensures the container fills remaining space */
}

footer {
    background-color: #1b2836;
    text-align: center;
    padding: 3rem 1.5rem 6rem;
    margin-top: auto; /* Pushes footer to the bottom */
    background: url(IMG/footer-bg.jpg);
    background-size: cover;
}

footer li::before {
    position: absolute;
    left: 0;
}

footer li {
    position: relative;
    padding-left: 0px;
    margin-bottom: 15px;
    line-height: 1.4;
}

footer ul {
    margin: 2em;
    list-style-type: circle;
}

footer a {
    text-decoration: none;
    color: #00aced;
}

/* Search section */
.search-section {
    display: flex;
    justify-content: center;
    padding: 130px;
}
  
.search-input {
    width: 90%;
    padding: 10px;
    font-size: 50px;
    border: 2px solid #ccc;
    border-radius: 6px;
}
